{% extends 'base_form.html.twig' %}

{% block body %}
<section class="flex items-center justify-center h-screen">
{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'w-96 p-6 shadow-lg bg-white rounded-md'}}) }}
  <h1 class="text-3xl block text-center font-semibold text-oceanTheme-navyBlue">Register</h1>
  <hr class="mt-3">
  <div class="mt-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control mt-2 w-full input-field'}}) }}
    <div class="text-red-500">{{ form_errors(form.email) }}</div>
  </div>
  <div class="mt-3">
    {{ form_label(form.password) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control mt-2 w-full input-field'}}) }}
    <div class="text-red-500">{{ form_errors(form.password) }}</div>
  </div>
  <div class="mt-3">
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName, {'attr': {'class': 'form-control mt-2 w-full input-field'}}) }}
    <div class="text-red-500">{{ form_errors(form.lastName) }}</div>
  </div>
  <div class="mt-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control mt-2 w-full input-field'}}) }}
    <div class="text-red-500">{{ form_errors(form.name) }}</div>
  </div>
  <div class="mt-3">
    {{ form_label(form.driverLicense) }}
    {{ form_widget(form.driverLicense, {'attr': {'class': 'form-control mt-2 w-full input-field'}}) }}
    <div class="text-red-500">{{ form_errors(form.driverLicense) }}</div>
</div>
  {% for choice in form.userType %}
    <div class="mt-3">
      {{ form_widget(choice, {'attr': {'class': 'mr-2'}}) }}
      {{ form_label(choice) }}
    </div>
  {% endfor %}
  <div class="text-red-500">{{ form_errors(form.userType) }}</div>
  {# {{ form_row(form.profileImage) }} #}

  <button class="blue-button mt-3" type="submit" name="submit">Sign-up</button>
{{ form_end(form) }}
</section>
{% endblock %}
