{% extends 'base_form.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .profile-header { display : flex; align-items: end;}
    .profile-header img{ margin-left: 20px;}
    .test{ background-color: #bebeff;}
    .title{
        font-size: 28px;
        letter-spacing: -2px;
        word-spacing: 2px;
        font-weight: 700;
        text-decoration: underline rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: capitalize;}

    .titleRole{
        font-size: 25px;
        letter-spacing: -2px;
        word-spacing: 2px;
        color: #956E72;
        font-weight: 700;
        text-decoration: rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: capitalize;
    }

</style>

<div class="wrapper">
    <div class="profile-header" >
        <img src="https://placehold.co/200x200/png" alt="Default profile picture" class="profile-image">
    </div>

    <div>
        <h1> Action on account : </h1>
        <ul>
        </ul>
    </div>

    <div>
        <h1 class="title"> Private informations : </h1>
        <ul>
            <li> Name : {{ user.name }} </li>
            <li> Lastname : {{ user.lastname }} </li>
            <li> Email : {{ user.email }} </li>
            <li> Roles : {% for role in user.roles %} {{ role }} {% endfor %} </li>
        </ul>
    </div>

    <br>
    <ul>


    {% if is_granted('ROLE_BORROWER') %}
        {# ----------------- BORROWER INFORMATIONS ----------------- #}
         <li class="titleRole">  Borrower </li>
        {# checking if the user have a sub on #}

        {% if user.startSub is not null %}
            <br>
            Subscription start date : {{ startSub|date('Y-m-d') }}
            <br>
            Subscription end date : {{ endSub|date('Y-m-d') }}
        {% else %}
            <br>
            No subscription
        {% endif %}
        {# Renting made by the borrower#}

        {% if user.rentings is empty  %}
            <br>
            No renting
        {% else %}
            <br>
            Rentings :
            <ul>
                {% for renting in user.rentings %}
                    <li> {{ renting.car.brand }} {{ renting.car.model }} </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}

    {% if is_granted('ROLE_OWNER') %}
        <br>

        {# ----------------- OWNER INFORMATIONS ----------------- #}
        <li class="titleRole"> Owner </li>
        {# car owned by the owner#}

        {% if user.cars is empty  %}
            <br>
            No car
        {% else %}
            Cars :
            <ul>
                {% for car in user.cars %}
                    <li> {{ car.brand }} {{ car.model }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        {# Offer made by the owner#}

        {%  if user.offers is empty  %}
            <br>
            No offer
        {% else %}
            Offers :
            <ul>
                {% for offer in user.offers %}
                    <li> {{ offer.car.brand }} {{ offer.car.model }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    </ul>


</div>
{% endblock %}
