{% extends 'base.html.twig' %}
{% block title %}Services Dashboard{% endblock %}

{% block body %}
    <h1>Panneau de contrôle pour les services</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h2>Modifier la commission</h2>
    <form method="post">
        <label for="service_fee">Taux de commission (%) :</label>
        <input type="number" step="0.01" name="service_fee" value="0" class="form-control">
        <button type="submit" class="btn btn-primary mt-2">Mettre à jour</button>


    <h2 class="mt-4">Liste des paiements gérés</h2>
    <table class="table">
        <thead>
        <tr>
            <td></td>
            <th>ID</th>
            <th>Total (€)</th>
            <th>Status</th>
            <th>Date de paiement</th>
            <th>Commission (€)</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td><input type="checkbox" name="payments_selected[]" value="{{ payment.id }}"></td>
                <td>{{ payment.id }}</td>
                <td>{{ payment.total }}</td>
                <td>{{ payment.status }}</td>
                <td>
                    {% if payment.apply and payment.apply.admin == app.user %}
                        {{ (payment.total * payment.apply.serviceFee) / 100 }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}
