{% extends 'base_form.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
  <section class="flex items-center justify-center h-screen">
    <div class="w-3/4 h-3/4 p-6 shadow-lg bg-white rounded-md flex flex-col">
      <div class="flex justify-between gap-10 flex-1 overflow-hidden">
        {# photo part #}
        <div class="profile-header flex-2" >
          {% if app.user.profileImage %}
            <img src="{{ asset('uploads/profile_images/' ~ app.user.profileImage) }}" alt="Photo de profil" class="profile-image" width="200px">
          {% else %}
            <img src="https://placehold.co/200x200/png" alt="Photo de profil par défaut" class="profile-image">
            <h2 class="mt-2 text-xl text-center">{{ app.user.name }} {{ app.user.lastName }}</h2>
          {% endif %}

        </div>
        {# information #}
        <div class="flex-1 flex flex-col overflow-hidden">
          <h1 class="text-4xl font-bold text-oceanTheme-navyBlue">Information</h1>
          <hr class="my-4">
          {# BORROWER INFORMATION #}
          <div class="flex flex-col overflow-auto">
          {% if is_granted('ROLE_BORROWER') %}
            <div class="text-2xl">Borrower</div>
            {% if app.user.startSub is not null %}
              <div>Subcription start date : {{ startSub|date('Y-m-d') }}</div>
              <br>
              <div>Subcription end date : {{ startSub|date('Y-m-d') }}</div>
              <br>
            {% else %}
              <div>No subscription</div>
            {% endif %}
            <br>
            {# Renting made by the borrower #}
            {% if app.user.rentings is empty %}
              <div>No renting</div>
            {% else %}
              <div>Rentings:</div>
              <ul class="overflow-y-auto max-h-36">
                {% for renting in app.user.rentings %}
                  <li> {{ renting.car.brand }} {{ renting.car.model }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <hr class="my-4">
          {% endif %}
          {# OWNER INFORMATION #}
          {% if is_granted('ROLE_OWNER') %}
            {# car owner by the owner #}
            <div class="text-2xl">Owner</div>
            {% if app.user.cars is empty %}
              <div>No car</div>
            {% else %}
              <div>Cars: </div>
              <ul class="overflow-y-auto max-h-36">
                {% for car in app.user.cars %}
                  <li>{{ car.brand }} {{ car.model }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <br>
            {# Offer made by the owner #}
            {% if app.user.offers is empty %}
              <div>No offer</div>
            {% else %}
              <div>Offers: </div>
              <ul class="overflow-y-auto max-h-36">
                {% for offer in app.user.offers %}
                  <li>{{ offer.car.brand }} {{ offer.car.model }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
          </div>
          <div class="flex justify-end mt-auto pt-4">
            <a class="blue-button" href="{{ path('app_edit_user_profile') }}">Modify informations</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
