

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Create Dispute</h1>
    <h2> Rental's reminder </h2>
    {{ renting.offer.car.brand }} {{ renting.offer.car.model }} <br>
    From {{ renting.startDate|date('d/m/Y') }} to {{ renting.endDate|date('d/m/Y') }}<br>
    Owner : {{ owner.name }} {{ owner.lastName }}<br>
    Borrower : {{ borrower.name }} {{ borrower.lastName }}<br>
    Price : {{ renting.offer.price }} €<br>
    Location : {{ renting.offer.localisationGarage }}<br>

    <h2>Fill in the form below to create a dispute.</h2>
    <form method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create Dispute" class="btn btn-primary" />
        {{ form_end(form) }}
    </form>
{% endblock %}
</div>