<nav id="nav" class="px-16 bg-gradient-to-t from-[transparent] to-sunsetTheme-lightBlue text-secondary py-3 fixed w-full transition duration-200">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Left Side: Logo and Links -->
    <div class="flex items-center space-x-1">
      <!-- Logo -->
      <a href="/" class="text-2xl font-semibold text-black pr-6">Prekar</a>

      <!-- Navigation Links -->
      {% if is_granted('ROLE_BORROWER') and app.user.validateUser is not null and app.user.validateUser.state == "Accepted" %}
        <a href="{{ path('offer_list') }}" class="transparent-button">Find Rentals</a>
      {% endif %}
      {% if is_granted('ROLE_OWNER') %}
        <a href="{{ path('offer_new') }}" class="transparent-button">Create an offer</a>
        <a href="{{ path('user_offer_list') }}" class="transparent-button">List your offers</a>
      {% endif %}
      {% if app.request.get('_route') == 'app_prekar_home_page' %}
      <a href="#" class="transparent-button">Pricing Plans</a>
      {% endif %}
    </div>

    <!-- Right Side: Buttons and Dropdown -->
    <div class="flex items-center space-x-1 cursor-pointer">
      <!-- Language Selector -->
      <div class="text-black px-3 py-2 transition duration-200 ease-[cubic-bezier(0,0,1,1)] hover:text-white flex items-center space-x-1">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
          <path d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9
          11-11S18.1 1 12 1Zm8 11c0 .7-.1 1.4-.3
          2-.6-1.5-1.6-3.1-3-4.7l1.8-1.8c1 1.3 1.5 2.8 1.5 4.5ZM6.5
          6.5c1.3 0 3.6.8 6 2.9l-3.2 3.2C7.1 9.8 6.5 7.5 6.5 6.5Zm8.1
          5c2.3 2.7 2.9 5 2.9 6-1.3
          0-3.6-.8-6-2.9l3.1-3.1Zm1.9-6.1-1.9
          1.9c-1.6-1.4-3.2-2.4-4.7-3 .7-.2 1.3-.3 2-.3 1.8 0 3.3.5 4.6
          1.4ZM4 12c0-.7.1-1.4.3-2 .6 1.5 1.6 3.1 3 4.7l-1.8 1.8C4.5
          15.2 4 13.7 4 12Zm3.5 6.6 1.9-1.9c1.6 1.4 3.2 2.4 4.7
          3-.7.2-1.3.3-2 .3-1.8 0-3.3-.5-4.6-1.4Z"
          fill="currentColor"></path>
        </svg>
        <span class="font-semibold">EN</span>
      </div>

      <div>
        <button class="transparent-button">Help</button>
        {% if app.user %}
          {% if app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
            <a href={{path('admin_panel')}} class="transparent-button">Admin</a>
          {% endif %}
          <a href={{path('app_logout')}} class="transparent-button">Log out</a>
          <a href="{{ path('chat_list') }}" class="transparent-button">Chats</a>
          <a href={{path('app_user_profile')}} class="orange-button">Profile</a>
        {% else %}

          {% if app.request.get('_route') != 'app_login' %}
          <a href={{path('app_login')}} class="transparent-button">Log in</a>
          {% endif %}

          {% if app.request.get('_route') != 'app_registration' %}
          <a href={{path('app_registration')}} class="orange-button">Sign up</a>
          {% endif %}

        {% endif %}
      </div>
    </div>
  </div>
  <script>
   document.addEventListener('scroll', () => {
       const nav = document.getElementById('nav');
       if (window.scrollY > 0) {
           nav.classList.add('backdrop-blur-md');
       } else {
           nav.classList.remove('backdrop-blur-md');
       }
   });
  </script>
</nav>
